:root {
	--color-black: #000000;
	--color-light: #EFEFEF;
	--color-button: #302F2F;
	--color-bg: #E5E5E5;
	--color-active: #C3FF76;
	--color-box: #3322F5;
}

* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.wrapper {
	color: var(--color-black);
	font-family: "IBM Plex Mono", monospace;
}

.container {

}

.items {
	padding: 120px 60px;
	display: flex;
	justify-content: space-between;
	font-size: 28px;
	max-width: 1350px;
	width: 100%;
	margin: 0 auto;
	font-weight: 400;
}

body {
	background-color: var(--color-bg);
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	color: var(--color-light);
	padding: 8px 93.5px;
	background: var(--color-button);
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.5s ease;
	line-height: 34px;
	font-size: 30px;
}

button:hover {
	color: var(--color-box);
	background-color: var(--color-active);
	box-shadow: 6px 6px 2px 1px var(--color-box);
	border: 2px solid var(--color-box);
	transition: all 0.5s ease;
}

.photos {
	display: flex;
	justify-content: space-between;
	margin: 0 250px;
}

img:hover {
	box-shadow: 12px 12px 2px 1px var(--color-active);
	transition: all 0.5s ease;
}

.photo__:hover {
	color: var(--color-box);
}

hr {
	border: none;
	border-top: 1px solid #333;
}
